/*mobil megjelenítés először*/

.container{
    display: flex;
}

.box{ 
    width:100px; 
    height:100px; 
    float:left;
    margin:20px;
    border-width: 1px;
    border-style: solid;
}

h3{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.textdiv{
    margin-bottom: 2em;
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 600px) {
    .works-box{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
    }

    * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
}